* {
    font-family: 'Telegraf', sans-serif; ;
    font-size: 50px;

}
.header {
    text-align: center;
    padding: 100px;
}

#head-container {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin: 10px;
}

.component {
    margin: auto;
    font-weight: normal;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    background-color: lightgray;
    width: 200px;
}

